@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
  font-family: 'Myriad Pro';
  src: url("fonts/MyriadPro-Regular.ttf");
}
@font-face {
  font-family: 'TradeGothic';
  src: url("fonts/Trade-Gothic-Bold.ttf");
}
@font-face {
  font-family: 'ProximaNova';
  src: url("fonts/ProximaNova-Light.ttf");
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px;
}
.helper {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: #3f4049;
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  z-index: 9998;
  min-width: 1600px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  min-width: 959px;
  margin: 0 auto;
}
.top {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  min-width: 959px;
  z-index: 9999;
  background-color: #3f4049;
  box-sizing: border-box;
  margin-left: 310px;
}
.logo {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.logotip {
  display: none;
}
.logo p {
  font-family: 'ProximaNova';
  color: #a8a8a8;
  font-size: 10px;
  font-weight: 700;
  line-height: 0.01px;
  text-transform: uppercase;
}
.logo .border {
  width: 150px;
  border-bottom: 1px solid rgba(232, 232, 232, 0.5);
  margin-top: 7px;
  margin-bottom: 10px;
}
.logo p {
  text-align: center;
  letter-spacing: 5px;
}
.active {
  display: flex;
}
.active li {
  list-style-type: none;
  margin-right: 58px;
}
.active li:last-child {
  margin-right: 0;
}
.active a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.8;
  transition: 0.5s;
}
.active a:hover {
  text-decoration: underline;
}
.active a:focus {
  opacity: 1;
  text-decoration: none;
  outline: none;
}
.active a:active {
  opacity: 0.8;
  text-shadow: black 0 5px 2px;
}
.active a:disabled {
  opacity: 0.6;
}
.button {
  width: 203px;
  height: 32px;
  border-radius: 32px;
  background-color: #64c800;
  border: none;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  transition: 0.5s;
}
.toggle-nav {
  display: none;
}
.button:hover {
  background-color: #6b9823;
}
.button:focus {
  outline: none;
  background-color: white;
  color: #505a64;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.button:active {
  background-color: #4b6b25;
  color: white;
  box-shadow: none;
}
.button:disabled {
  background-color: #e8e8e8;
  color: #a8b6c7;
}
.slider {
  margin: 70px auto 0;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 35%;
}
.slide_img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.slide_img img {
  width: 100%;
  height: 100%;
}
#i1,
#i2,
#i3 {
  display: none;
}
.nav {
  width: 100%;
  bottom: 20px;
  position: absolute;
  text-align: center;
  z-index: 99;
}
.dots {
  width: 8px;
  height: 8px;
  margin-right: 8px;
  position: relative;
  border-radius: 8px;
  display: inline-block;
  background-color: white;
  transition: 0.5s;
}
.dots:hover {
  background-color: #64c800;
  cursor: pointer;
}
.not-active {
  display: none;
}
#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three {
  z-index: 9;
}
#i1:checked ~ .nav #dot1,
#i2:checked ~ .nav #dot2,
#i3:checked ~ .nav #dot3 {
  width: 12px;
  height: 12px;
  bottom: -2px;
  background-color: #64c800;
}
#i1:checked ~ .slide_img {
  width: 100%;
}
#i2:checked ~ .slide_img {
  width: 100%;
}
.text-box {
  position: absolute;
  top: 155px;
  left: 555px;
}
.text-box h1 {
  font-family: 'TradeGothic';
  color: #ffffff;
  font-size: 5.125rem;
  font-weight: 700;
  line-height: 72.043px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.part1 {
  font-family: 'Myriad Pro';
  color: #ffffff;
  font-size: 1.5625rem;
  letter-spacing: 0.75px;
  line-height: 35.021px;
  text-align: center;
  text-shadow: 0px 2px 6.51px rgba(6, 80, 101, 0.35);
  width: 487px;
  margin-bottom: 60px;
}
.part2 {
  font-family: 'TradeGothic';
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 35.021px;
  text-align: center;
  text-transform: uppercase;
}
.green {
  color: #64c800;
}
.part1,
.part2,
.green {
  opacity: 0.9;
}
.Second {
  position: relative;
  padding-top: 70px;
  height: 100%;
  background: url("img/Background spekles (2).png") bottom, url("img/Background spekles (2).png") top;
}
.Second__lorem2 {
  color: #3d3e46;
}
.Second__number {
  color: #1b8aaa;
}
.teachers-1__button {
  margin: 0 0 68px 698px;
}
.extra {
  display: flex;
}
.portfolio {
  text-align: center;
  margin-right: 50px;
}
.portfolio:first-child {
  margin-right: 23px;
}
.member {
  font-family: 'Myriad Pro';
  color: #1b8aaa;
  font-weight: 400;
  letter-spacing: 0.32px;
  line-height: 17.797px;
  text-decoration: none;
  display: block;
  width: 90px;
  margin: 20px auto 0;
}
.member:hover {
  filter: brightness(70%);
}
.member:focus {
  filter: brightness(150%);
  outline: none;
}
.member:active {
  filter: brightness(70%);
}
.member:disabled {
  filter: brightness(150%);
}
.slide {
  background-image: url("img/Image.jpg");
  background-repeat: no-repeat;
  height: 100%;
}
.slide__lorem2 {
  padding-top: 65px;
  color: white;
}
.slide__number {
  color: #64c800;
}
.textbox {
  width: 857px;
  font-family: "Myriad Pro";
  margin: 35px auto;
  opacity: 0.9;
}
.textbox__button {
  margin-top: 20px;
  margin-left: 310px;
}
.textbox p {
  color: white;
  font-size: 1.5625rem;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 20px;
}
.textbox p:last-child {
  margin-bottom: 0;
}
.textbox .second-p {
  font-size: 1.25rem;
  letter-spacing: 0.3px;
  line-height: 28px;
}
.textbox .third-p {
  font-size: 1.25rem;
  color: #64c800;
  letter-spacing: 0.3px;
  line-height: 26px;
  width: 660px;
  margin: auto;
  margin-bottom: 25px;
}
.small-box {
  width: 811px;
  margin: auto;
}
.lorem4 {
  background: url("img/Background spekles.png") no-repeat, url("img/Spray.png") no-repeat bottom;
  background-color: #e8e8e8;
  padding-bottom: 158px;
}
.lorem4__lorem2 {
  color: #3d3e46;
  padding-top: 89px;
  margin-bottom: 75px;
}
.lorem4__number {
  color: #1b8aaa;
}
.lorem2 {
  font-family: 'TradeGothic';
  font-size: 3.25rem;
  font-weight: 700;
  text-align: center;
}
.content {
  display: flex;
}
.forma {
  width: 940px;
  height: 470px;
  background-color: white;
  position: relative;
}
.forma__button {
  margin-top: 19px;
  margin-left: 375px;
}
.forma p {
  font-family: "Myriad Pro";
  width: 676px;
  color: #46505a;
  font-size: 1.53rem;
  font-weight: 400;
  letter-spacing: 0.24px;
  line-height: 34px;
  text-align: center;
  padding: 57px 132px 0 152px;
}
form {
  position: absolute;
  top: 194px;
  left: 305px;
  font-family: 'Open Sans', sans-serif;
}
.book {
  margin-top: 27px;
  margin-left: -50px;
}
form input {
  width: 460px;
  height: 40px;
  margin-bottom: 20px;
  margin-left: 43px;
  color: #505a64;
  border: solid #46505a 1px;
  font-weight: 400;
  text-align: left;
  box-sizing: border-box;
  padding: 14px 50px 13px 14px;
}
form input:hover {
  color: #46505a;
}
form input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: none;
}
form input:active {
  border: solid #a8b6c7 1px;
  box-shadow: none;
  color: black;
}
form input:disabled {
  background-color: #e8e8e8;
  color: #505a64;
}
.grey {
  font-family: 'Open Sans', sans-serif;
  color: black;
  opacity: 0.5;
  font-weight: 700;
}
.email {
  margin-left: 79px;
}
.blue {
  color: #1b8aaa;
  font-weight: 700;
}
.teachers-img {
  position: absolute;
  height: 100%;
  left: 63px;
  top: 0;
  z-index: 1;
}
#slide1,
#slide2,
#slide3,
#slide-1,
#slide-2,
#slide-3 {
  display: none;
}
.previous,
.next {
  width: 24px;
  height: 45px;
  position: absolute;
  top: 105px;
  background-color: #64c800;
  z-index: 99;
  cursor: pointer;
}
.previous {
  left: -30px;
  background: url("img/Arrow (1).png");
}
.next {
  right: 30px;
  background: url("img/Arrow.png");
}
.previous1,
.next1 {
  width: 46px;
  height: 88px;
  position: absolute;
  z-index: 99;
  cursor: pointer;
  display: none;
  top: 315px;
}
.previous1 {
  background: url("img/Shape 1 copy 3 (1).png");
  left: 35px;
}
.next1 {
  background: url("img/Shape 1 copy 2 (1).png");
  right: 25px;
}
.photo {
  position: relative;
}
.shadow {
  position: absolute;
  z-index: 0;
  top: 102px;
  left: 30px;
}
.polaroid {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.amelia {
  position: absolute;
  z-index: 2;
  top: 34px;
  left: 34px;
}
.tape {
  position: absolute;
  z-index: 3;
  top: 7px;
  left: 85px;
}
.spray {
  position: absolute;
  left: -64px;
  top: -5px;
}
.description {
  margin-top: 289px;
}
.desc {
  width: 255px;
}
.description {
  text-align: center;
}
.desc1 {
  width: 272px;
  font-family: 'Myriad Pro';
  color: #505a64;
  font-size: 1.08rem;
  font-weight: 400;
  letter-spacing: 0.174px;
  line-height: 25.982px;
  text-align: center;
  margin: auto;
}
.photo2 {
  position: relative;
}
.shadow2 {
  position: absolute;
  z-index: 0;
  top: 102px;
  right: 60px;
}
.shadow3 {
  position: absolute;
  top: 102px;
  left: 30px;
}
.polaroid2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.McCauley {
  position: absolute;
  z-index: 2;
  top: 33px;
  right: 48px;
}
.McCauley2 {
  position: absolute;
  z-index: 3;
  top: 33px;
  left: 34px;
}
.tape2 {
  position: absolute;
  z-index: 3;
  top: 7px;
  left: 85px;
}
.description-2 {
  margin-top: 289px;
}
.desc2 {
  width: 255px;
}
.portfolio {
  text-align: center;
  margin-right: 50px;
}
.extra {
  display: flex;
}
.teachers {
  position: relative;
  width: 100%;
  padding-bottom: 30.6%;
  overflow: hidden;
  margin: 60px auto;
  margin-left: 320px;
}
.teachers-1 {
  display: none;
  position: relative;
  width: 100%;
  padding-bottom: 150%;
  overflow: hidden;
}
.man {
  width: 726px;
  height: 643px;
  margin: auto;
  position: relative;
}
.splash {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.polaroid3 {
  position: absolute;
  top: 106px;
  right: 135px;
  z-index: 3;
}
.guy {
  position: absolute;
  z-index: 4;
  top: 139px;
  left: 188px;
}
.top-left,
.top-right {
  position: absolute;
  top: 93px;
  z-index: 5;
}
.top-left,
.left-bottom {
  left: 142px;
}
.top-right,
.right-bottom {
  right: 125px;
}
.left-bottom,
.right-bottom {
  position: absolute;
  z-index: 5;
  bottom: 8px;
}
.carousel-items {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
@media screen and (max-width: 750px) {
  html,
  body {
    width: 750px;
  }
  .top {
    height: 166px;
  }
  .log {
    display: none;
  }
  .logotip {
    display: block;
  }
  .logo .border {
    width: 317px;
    border-width: 3px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .logo p {
    font-size: 1.3rem;
    line-height: 0.01px;
    letter-spacing: 12px;
  }
  .menu {
    position: relative;
    display: inline-block;
  }
  .menu ul.active {
    display: none;
  }
  .toggle-nav {
    float: left;
    display: block;
    text-decoration: none;
    margin-right: 230px;
  }
  .fa-bars {
    color: white;
    transition: 0.5s;
  }
  .toggle-nav .fa-bars:hover,
  .toggle-nav.fa-bars.active {
    color: #64c800;
  }
  .part1 {
    width: 616px;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 1.2px;
    line-height: 50.03px;
    text-align: center;
    opacity: 1;
  }
  .header {
    height: 166px;
  }
  .top {
    box-sizing: border-box;
    padding: 35px 40px;
    margin-left: 0;
  }
  .top__button {
    display: none;
  }
  .slider {
    margin-top: 166px;
  }
  .slide_img img {
    display: none;
  }
  .slide_img .not-active {
    display: block;
    height: 1168px;
    width: 750px;
  }
  .text-box {
    top: 245px;
    left: 55px;
  }
  .text-box h1 {
    font-size: 6.25rem;
    line-height: 100.059px;
    opacity: 1;
  }
  .text-box.part1 {
    font-size: 2.5rem;
    letter-spacing: 1.2px;
    line-height: 50.03px;
    opacity: 1;
  }
  .text-box .part2 {
    font-size: 2.25rem;
    line-height: 40px;
    width: 426px;
    margin: auto;
    opacity: 1;
  }
  .nav {
    bottom: -880px;
    right: 440px;
  }
  .dots {
    width: 12px;
    height: 12px;
  }
  #i1:checked ~ .nav #dot1,
  #i2:checked ~ .nav #dot2,
  #i3:checked ~ .nav #dot3 {
    width: 18px;
    height: 18px;
    bottom: -2px;
    background-color: #64c800;
  }
  .Second {
    margin-top: 1000px;
    background: white;
  }
  .Second__lorem2 {
    font-size: 6.25rem;
    width: 240px;
    margin: auto;
  }
  .teachers {
    display: none;
  }
  .teachers .previous,
  .next {
    display: none;
  }
  .teachers-1 {
    display: block;
  }
  .teachers-1__button {
    margin: 0 0 131px 35px;
  }
  .previous1,
  .next1 {
    display: block;
  }
  .shadow3 {
    top: 275px;
    left: 160px;
  }
  .description {
    margin-top: 110px;
  }
  .desc {
    width: 255px;
  }
  .desc1 {
    width: 450px;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.29px;
    line-height: 45px;
  }
  .member {
    font-size: 3rem;
    letter-spacing: 0.72px;
    line-height: 50.207px;
    color: #1b8aaa;
    width: 270px;
    margin: 40px auto 0;
  }
  .button {
    box-shadow: 0px 6px 0px 0px #59b200;
    width: 670px;
    height: 80px;
    border-radius: 10px;
    font-size: 2.375rem;
    opacity: 1;
    transition: 0.5s;
  }
  .lorem2 {
    font-size: 6.25rem;
  }
  .slide {
    background-image: url("img/Layer 153.png");
    min-height: 1551px;
  }
  .slide__lorem2 {
    padding-top: 130px;
    width: 250px;
    margin: auto;
  }
  .textbox p {
    width: 580px;
    font-size: 2.0625rem;
    letter-spacing: 0.495px;
    line-height: 35px;
    opacity: 1;
    margin-bottom: 52px;
  }
  .textbox .third-p {
    font-size: 2.0625rem;
    letter-spacing: 0.495px;
    line-height: 35px;
    opacity: 1;
    margin-bottom: 65px;
    margin-top: 65px;
    margin-left: 0;
    width: 580px;
  }
  .textbox .second-p {
    font-size: 2.0625rem;
    letter-spacing: 0.495px;
    line-height: 35px;
    opacity: 1;
    margin-left: 0;
    width: 580px;
  }
  .textbox {
    width: 560px;
    margin-left: 80px;
  }
  .textbox__button {
    margin-top: 50px;
    margin-left: -46px;
  }
  .lorem4 {
    background-image: none;
    min-height: 2450px;
    margin-bottom: 268px;
  }
  .lorem4__lorem2 {
    width: 250px;
    margin: 80px auto 70px;
  }
  .forma {
    background-color: #e8e8e8;
    width: 717px;
  }
  .forma__button {
    margin-top: 100px;
    margin-left: 0;
    margin-bottom: 250px;
  }
  .forma p {
    font-size: 2.375rem;
    letter-spacing: 0.19px;
    line-height: 43px;
    width: 632px;
    padding-left: 40px;
  }
  .book {
    width: 717px;
    height: 731px;
    margin-left: 40px;
  }
  form {
    margin-top: 800px;
    left: 0;
    width: 670px;
    margin-left: 28px;
  }
  form input {
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #c0ccda;
    box-sizing: border-box;
    background-color: white;
    width: 670px;
    height: 80px;
    font-size: 1.875rem;
    font-weight: 400;
    margin-left: 0;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  .blue {
    font-size: 2.5rem;
    font-weight: 400;
  }
  .email {
    margin-left: 0;
  }
}
